@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
 }

nav{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

nav ul a{
    text-decoration: none;
}

nav ul li{
    list-style-type: none;
}

.login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 80vh;
}
.login-div  div{
    border: 1px solid rgba(0, 0, 0, 0.734);
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.login-div img{
    width: 100%;
    border-radius: 50%;
}

.container{
    display: flex;
    gap:30px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    justify-content: space-around;
}

.admin{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 15%;
    text-align: center;
    align-items: center;
    gap:30px;
    padding: 20px;
    border-radius: 18px;
}

form{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:20px;
    border: 1px solid black;
    border-radius: 18px;
}

input{
    padding: 9px;
}
table, th, td{
    border-collapse: collapse;
    padding:15px;
}
 .details table{
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
 }

label{
    font-size: 23px;
    cursor: pointer;
}

button{
    width: 50%;
    align-self: center;
    padding: 9px;
    cursor: pointer;
}


input[type="submit"]{
    width: 50%;
    align-self: center;
}

.container-table{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid black;
    
}

 
.student-table th,  .student-table td{
    border:1px solid rgba(0, 0, 0, 0.782);
    
}

#edit, #delete{
    width: 100%;
}